html {
    background-color: #FFF;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    text-align: center;
    padding: 5px;
}

#promos-Links, #review-Carousel, #donate-Row, #applyBanner {
    background-color: #F3D45C;
}

#applyBanner {
    width: 100%;
    border: 3px solid #176a72;
    margin: 0px;
}

footer {
    background-color: rgb(20, 20, 20);
}

.row {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 30px;
}

#review-Carousel {
    min-height: 500px;
}

#carousel-item {
    background-color: transparent;
}

nav {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#mainPageHeader {
    background-image: url("img/placeholder.png");
    background-color: #000;
    width: 100%;
    min-height: 500px;
}

header {
    background-color: #fff;
    width: 100%;
    min-height: 80px;
}

h1, h2, h3 {
    color: #176a72;
}

footer a, legend {
    color: #F3D45C;
    display: block;
    margin: 20px 0px;
}

footer label {
    color: #F3D45C;
    display: block;
    margin: 10px 0px;
}

footer p {
    color: #fff;
}

footer input {
    margin-bottom: 10px;
}

footer .col {
    margin: 10px 5px;
}

.listTitle {
    color: #F3D45C;
    font-size: 24px;
}

.submit-button {
    background-color: #27a4ba;
    color: #fff;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
}

.submit-button-apply {
    background-color: #27a4ba;
    color: #fff;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}

.carousel-item {
    text-align: center;
    padding: 10% 20%;
}

.navButton {
    background-color: #27a4ba;
    color: #fff;
    border-radius: 15px;
    border-color: transparent;
    padding: 15px 10px;
    text-decoration: none;
}

.navButtonDrop {
    background-color: #27a4ba;
    color: #fff;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
}

.donateButton {
    background-color: #27a4ba;
    color: #F3D45C;
    border-radius: 15px;
    border-color: transparent;
    padding: 15px 10px;
    text-decoration: none;
}

.promoText {
    font-size: 25px;
    color: #176a72;
    font-weight: bold;
}

.carouselText {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    color: #176a72;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  width: 100%;
  position: absolute;
  padding-top: 30%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #F3D45C;
}

.carousel__slide:nth-child(even) {
  background-color: #F3D45C;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  padding: 80px;
  text-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

